{:deps {org.clojure/tools.deps.alpha {:mvn/version "0.11.905"}
        org.clojure/clojure {:mvn/version "1.10.2"}}

 :paths ["src"]

 :aliases {:ancient   {:main-opts  ["-m" "deps-ancient.deps-ancient"]
                       :extra-deps {deps-ancient/deps-ancient {:mvn/version "0.0.5"}}}

           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
                                "target/clj-project-0.1.0-standalone.jar"]}

           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                  :main-opts ["-m" "cognitect.test-runner"]}

           :uberjar
           {:extra-deps
            {luchiniatwork/cambada {:mvn/version "1.0.5"}}
            :main-opts ["-m" "cambada.uberjar"
                        "-m" "clj_contrib/core"
                        "--app-version" "0.1.0"]}}}
